html {
  height: 100%; /* note #1 */
}
body {
  background-color: #1e2836;
  height: 100%; /* note #1 */
  margin: 0; /* note #2 */
  overflow: hidden;
}

#__next {
  height: 100%;
}

.calendar-optimal {
  background-color: #512da8 !important;
}

.calendar-editing {
  background-color: #d84315 !important;
}
